// Created by tapan on 7/1/2014.
html
    head
        title HighJump
    body
        header
            h1 Weather Data
        .container
            .main-content
                block content
        footer
            p Running on node with Express, Jade